@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <title>Facebook Login</title>
    <meta charset="UTF-8">
</head>
<body>
    <script>
        function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
            console.log('statusChangeCallback');
            console.log(response);
          
            if (response.status === 'connected') {   // Logged into your webpage and Facebook.
                //FB.api('/me', function (data) { alert(JSON.stringify(data)); });
                //FB.login(function (data) { alert(JSON.stringify(data)); }, {scope: 'email',return_scopes: true});
                $.ajax({
                    url: 'Account/FBLogin',
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(response),
                    success: function (test) { }

                });

                testAPI();
            } else {                                 // Not logged into your webpage or we are unable to tell.
                document.getElementById('status').innerHTML = 'Facebook login';

            }
        }

        function checkLoginState() {               // Called when a person is finished with the Login Button.
            FB.getLoginStatus(function (response) {   // See the onlogin handler
                statusChangeCallback(response);
            });
        }
        window.fbAsyncInit = function () {
            FB.init({
                appId: '379050216797422',
                status: true,
                cookie: true,                     // Enable cookies to allow the server to access the session.
                xfbml: true,                     //Url ★ ActionAction★ Action★ ActionParse social plugins on this webpage.
                version: 'v9.0'           // Use this Graph API version for this call.
            });

            FB.getLoginStatus(function (response) {   // Called after the JS SDK has been initialized.
                statusChangeCallback(response);        // Returns the login status.
            });
        };
        function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
            });
        }
    </script>
    <!-- The JS SDK Login Button -->
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        FB.login(function(response) {
        console.log(response);
        }, {scope: 'email'});
    </fb:login-button>

    <div id="status">
    </div>
    <!-- Load the JS SDK asynchronously -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
</body>
</html>
